 body {
font-family: "open sans", "Helvetica Neue", Helvetica, Arial,sans-serif;
background-image: url(authentification.jpg);
background-repeat: no-repeat;
width: 100%;
height: 100%;
padding: 0;
margin-left: 0%;
margin-right: 0%;
margin-top: 0%;
margin-bottom: 0%;

}

table {
    border-collapse: separate;
    border-spacing: 30px 15px; 
    text-align: left;
    margin-left: 3%;
    margin-top: 10%;
    width: 95%;
}
#msg {
     text-align: center;
    color: red;
    background-color:#ffffff;
    font-weight:  inherit;
     font-size: 15px;
     margin-bottom: 0.3em;
   font-family:  'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-shadow: 2px 2px 6px #DFF2FF;
}

#form {
background-color: #40826D;
border-top: 10px solid #303030;
border-radius: 3px;
margin-top: 10%;
margin-left: 30%;
width: 40%;
opacity: 0.9;
}

label {
    text-align: center;
    color: #DFF2FF;
    font-weight:  bold;
     font-size: 12px;
     margin-bottom: 0.3em;
   font-family:  'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-shadow: 2px 2px 4px #000000;
}

input::placeholder {
    color: black;
    font-size: 10px;
    font-family: sans-serif;
    display: block;
    padding-left: 4px;
}

.form-control {
    border: none;
    border: 2px solid gainsboro;
}
.form-control:hover {
    border: none;
    border-bottom: 2px solid #3c8dbc;
}

#btn {
     background-color: gainsboro;
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 3%;
    margin-left: 35%;
    border-radius: 6px;

}
#btn:hover{
   background-color: #40826D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 3%;
    margin-left: 35%;
    border-radius: 6px;
}

#label1 {
    margin-top: 3%;
}
#label2 {
    margin-left: 55%;
    margin-bottom: 1%;
    margin-top: 3%;
    font-size: 13px;
}